<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyHwa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/boxicons/css/boxicons.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <script src="{{ url_for('static', filename='node_modules/showdown/dist/showdown.min.js') }}"></script>
    <meta name="theme-color" content="#ff8e47">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='node_modules/@splidejs/splide/dist/css/splide.min.css') }}">
</head>

<body>

    {% include "inc/header.html" %}
    <script>
        const scroll = window.pageYOffset;
        if (scroll !== 0) {
            document.querySelector('header').style.position = "fixed";
        } else {
            document.querySelector('header').style.position = "absolute";
        }

        // if scroll !== 0 add .active to header
        window.addEventListener('scroll', () => {
            const scroll = window.pageYOffset;
            if (scroll !== 0) {
                document.querySelector('header').style.position = "fixed";
            } else {
                document.querySelector('header').style.position = "absolute";
            }
        });
    </script>

    <div id="splideindexheader" class="splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for folder in randfolders %}
                <li class="splide__slide">
                    <div class="img" style='background-image: url("/{{folder.image_url}}");'>
                        <div class="bck"></div>
                    </div>

                    <div class="container">
                        <div class="info">
                            <div class="left">
                                <a href="/r/{{folder.folder}}"><img src="{{ folder.image_url }}"
                                        alt="Cover image for {{ folder.folder }}"></a>
                                <div class="btngroup">
                                    <a href="/r/{{ folder.folder }}"><button><i class='bx bxs-book'></i> See
                                            more</button></a>
                                    {% if folder.metadata.lastChapter != None %}
                                    <a href="/r/{{ folder.folder }}/{{ folder.metadata.lastChapter}}"><button
                                            class="continue"><i class='bx bxs-right-arrow'></i> Continue</button></a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="right">
                                <h2>
                                    <span>
                                        {% if folder.metadata.lastChapter == folder.lastchaptername %}
                                        <i title="Finished" class='bx bxs-bookmark'></i>
                                        {% elif folder.metadata.lastchapter != None %}
                                        <i title="Continue" class='bx bxs-book-reader'></i>
                                        {% else %}
                                        <i class='bx bxs-book'></i>
                                        {% endif %}
                                    </span>
                                    <span>{{ folder.metadata.title or folder.folder }}</span>
                                </h2>
                                <div id="jsonGenres">
                                    <div class="{{folder.dataJSONfolder.type}}">{{folder.dataJSONfolder.type}}</div>
                                    {% for genre in folder.dataJSONfolder.attributes.tags %}
                                    <div>{{genre}}</div>
                                    {% endfor %}
                                </div>
                                <div class="description">{{ folder.dataJSONfolder.attributes.description }}</div>
                                <div class="btngroup">
                                    <a href="/r/{{ folder.folder }}"><button><i class='bx bxs-book'></i> See
                                            more</button></a>
                                    {% if folder.metadata.lastchapter != None and folder.metadata.lastChapter !=
                                    folder.lastchaptername %}
                                    <a href="/r/{{ folder.folder }}/{{ folder.metadata.lastChapter}}"><button
                                            class="continue"><i class='bx bxs-right-arrow'></i> Continue</button></a>
                                    {% endif %}
                                    {% if folder.metadata.lastChapter == folder.lastchaptername %}
                                    <a href="/r/{{ folder.folder }}/{{ folder.metadata.lastChapter}}"><button
                                            class="finished"><i class='bx bxs-bookmark'></i> Finished</button></a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <main class="spacearound">

        <!-- read -->
        <section>

            <h2 class="title">
                <span><i class='bx bxs-book-reader'></i> Continue</span>
                <span class="badge">Total <b id="totalRead"></b></span>
            </h2>
            <div class="cardlist">

                <div class="style_badge" id="badgeRead">

                    {% for folder in folders %}
                    {% if folder.metadata.lastchapter != None %}
                    <a href="/r/{{ folder.folder }}">
                        <div class="badge">

                            <div class="background">
                                <img src="{{ folder.image_url }}" alt="">*
                                <div class="filter"></div>
                            </div>

                            <div class="container">
                                <div class="left">
                                    <img src="{{ folder.image_url }}" alt="">
                                </div>

                                <div class="right">
                                    <h3><i class='bx bxs-book-reader'></i> {{folder.folder}}</h3>
                                    <div class="description">
                                        {{ folder.dataJSONfolder.attributes.description or "No description available."
                                        }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>

            </div>

        </section>

        <!-- unread -->
        <section>

            <h2 class="title">
                <span><i class='bx bxs-book'></i> Unread</span>
                <span class="badge">Total <b id="totalUnread"></b></span>
            </h2>
            <div class="cardlist">

                <div class="style_badge" id="badgeUnread">

                    {% for folder in folders %}
                    {% if folder.metadata.lastchapter == None %}
                    <a href="/r/{{ folder.folder }}">
                        <div class="badge">

                            <div class="background">
                                <img src="{{ folder.image_url }}" alt="">*
                                <div class="filter"></div>
                            </div>

                            <div class="container">
                                <div class="left">
                                    <img src="{{ folder.image_url }}" alt="">
                                </div>

                                <div class="right">
                                    <h3><i class='bx bxs-book'></i> {{folder.folder}}</h3>
                                    <div class="description">
                                        {{ folder.dataJSONfolder.attributes.description or "No description available."
                                        }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>

            </div>

        </section>







        <!-- finished -->
        <section>

            <h2 class="title">
                <span><i class='bx bxs-bookmark'></i> Finished</span>
                <span class="badge">Total <b id="totalfinished"></b></span>
            </h2>
            <div class="cardlist">

                <div class="style_card">

                    {% for folder in folders %}
                    {% if folder.metadata.lastChapter == folder.lastchaptername %}
                    <a style="opacity: .5;" href="/r/{{ folder.folder }}">
                        <div class="card">
                            <img src="{{ folder.image_url }}" alt="">
                            <div class="bck"></div>
                            <div class="content">
                                <h3><i class='bx bxs-bookmark'></i> {{ folder.folder }}</h3>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% else %}
                    <p>Aucun fichier ou dossier trouvé.</p>
                    {% endfor %}

                </div>

            </div>

        </section>











        <!-- all -->
        <section>

            <h2 class="title">
                <span><i class='bx bx-library'></i> Library</span>
                <span class="badge">Total <b id="totalFolders"></b></span>
            </h2>
            <div class="cardlist">

                <div class="style_card">

                    {% for folder in folders %}

                    {% if folder.metadata.lastChapter == folder.lastchaptername %}
                    <a href="/r/{{ folder.folder }}">
                        <div class="card finished">
                            <img src="{{ folder.image_url }}" alt="">
                            <div class="bck"></div>
                            <div class="content">
                                <h3><i class='bx bxs-bookmark'></i> {{ folder.folder }}</h3>
                            </div>
                        </div>
                    </a>
                    {% elif folder.metadata.lastchapter == None %}
                    <a href="/r/{{ folder.folder }}">
                        <div class="card">
                            <img src="{{ folder.image_url }}" alt="">
                            <div class="bck"></div>
                            <div class="content">
                                <h3><i class='bx bxs-book'></i> {{ folder.folder }}</h3>
                            </div>
                        </div>
                    </a>
                    {% else %}
                    <a href="/r/{{ folder.folder }}">
                        <div class="card continue">
                            <img src="{{ folder.image_url }}" alt="">
                            <div class="bck"></div>
                            <div class="content">
                                <h3><i class='bx bxs-book-reader'></i> {{ folder.folder }}</h3>
                            </div>
                        </div>
                    </a>
                    {% endif %}
                    {% else %}
                    <p>Aucun fichier ou dossier trouvé.</p>
                    {% endfor %}

                </div>

            </div>

        </section>
    </main>


    {% include 'inc/footer.html' %}

</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


<!-- splide -->
<script src="{{ url_for('static', filename='node_modules/@splidejs/splide/dist/js/splide.min.js')}}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var splide = new Splide('.splide', {
            pagination: false,
            focus: 'center',
            type: 'loop',
            autoplay: true,
            interval: 2500,

            breakpoints: {
                1300: {
                    pagination: true,
                },
            },
        });
        splide.mount();


    });

    totalLibrary = document.querySelectorAll('.style_card .card').length;
    document.querySelector("#totalFolders").innerHTML = totalLibrary;

    totalUnread = document.querySelectorAll('#badgeUnread .badge').length;
    document.querySelector("#totalUnread").innerHTML = totalUnread;

    totalRead = document.querySelectorAll('#badgeRead .badge').length;
    document.querySelector("#totalRead").innerHTML = totalRead;

    totalFinished = document.querySelectorAll('#badgeFinished .badge').length;
    document.querySelector("#totalfinished").innerHTML = totalFinished;





    const converter = new showdown.Converter();

    document.querySelectorAll("#jsonDescription").forEach(element => {
        let htmlDescription = converter.makeHtml(element.textContent || "");
        element.innerHTML = htmlDescription;
    });
</script>

</html>