<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyHwa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/boxicons/css/boxicons.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}" type="image/x-icon">
    <meta name="theme-color" content="#ff8e47">
    <link rel="stylesheet"
        href="{{ url_for('static', filename='node_modules/@splidejs/splide/dist/css/splide.min.css') }}">
</head>

<body>

    {% include "inc/header.html" %}

    <main class="spacearound">
        <!-- unread -->
        <section>

            <h2 class="title">
                <span><i class='bx bxs-ghost'></i> Unread</span>
                <span class="badge">Total <b id="totalUnread"></b></span>
            </h2>
            <div class="cardlist">

                <div class="style_badge" id="badgeUnread">

                    {% for folder in folders %}
                    {% if folder.metadata.lastchapter == None %}
                    <a href="/r/{{ folder.folder }}">
                        <div class="badge">

                            <div class="background">
                                <img src="{{ folder.image_url }}" alt="">*
                                <div class="filter"></div>
                            </div>

                            <div class="container">
                                <div class="left">
                                    <img src="{{ folder.image_url }}" alt="">
                                </div>

                                <div class="right">
                                    <h3>{{folder.folder}}</h3>
                                    <div class="description">
                                        {{ folder.dataJSONfolder.description or "No description available." }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                    {% endif %}
                    {% endfor %}

                </div>

            </div>

        </section>

    </main>

    {% include 'inc/footer.html' %}

</body>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

<script>
    totalUnread = document.querySelectorAll('#badgeUnread .badge').length;
    document.querySelector("#totalUnread").innerHTML = totalUnread;
</script>

</html>