<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MGREAD | {{name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/boxicons/css/boxicons.min.css') }}">
    <script src="{{ url_for('static', filename='node_modules/showdown/dist/showdown.min.js') }}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script> -->
</head>

<body>

    <main class="spacearound">

        <div class="backgroundimg" style='background-image: url("/{{coverURL}}");'>
            <div class="filter"></div>
        </div>

        <section class="listchapter-title">
            <a href="/"><button><i class='bx bxs-home-alt-2'></i></button></a>
            <h1 style="text-align: center;display:none;" id="frckName">{{name}}</h1>
            <div></div>
            <div></div>
        </section>


        <div class="view-info">
            <div class="left">
                <img class="coverImage" src="/{{coverURL}}" alt="">
                {% if lastChapter != None %}
                <div class="golastchapter">
                    <a href="/r/{{name}}/{{lastChapter}}" id="lastchapter"><button><span class="continueread">Continue
                                reading</span> <span id="lastChapterShowMSG">{{lastChapter}}</span></button></a>
                </div>
                {% endif %}
            </div>
            <div class="right">
                <h2>{{name}} <span class="source">from mangadex</span></h2>
                <div id="jsonDescription">{{description}}</div>
                <div id="extendDescription"><hr><span id="msgextend"><i class='bx bxs-chevrons-down'></i> Extend description <i class='bx bxs-chevrons-down'></i></span></div>
                <div id="jsonGenres">
                    {% for genre in genres %}
                    <div>{{genre}}</div>
                    {% endfor %}
                </div>
                <p class="popupnote">Note : automatic metadata search are still in the development phase.</p>
            </div>
        </div>

        <section class="listchapter">
            <h2>
                <span>Chapters list</span>
                <span id="btnSearch" onclick="searchPopup()" class="search"><i class='bx bx-search-alt'></i></span>
                <span class="iconreverse"><i class='bx bx-sort'></i></span>
            </h2>
            <ul id="listchapter">
                {% for chapter in chap %}
                    <a href="/r/{{ name }}/{{ chapter }}">
                        <li class="{% if chapter == lastChapter %}readprogress{% elif chapter in chapterAlreadyRead %}read{% endif %}">
                            {{ chapter }}
                        </li>
                    </a>
                {% else %}
                    <li>Aucun fichier ou dossier trouvé.</li>
                {% endfor %}
            </ul>
        </section>
        
    </main>

    <div class="popupSearch">
        <div class="bck"></div>
        <div class="ccenter">
            <h2>Search</h2>
            <input id="search" type="search" placeholder="Search...">
            <div class="group">
                <button class="result" onclick="searchPopup()">Result</button>
                <button class="close" onclick="searchPopup()">Close</button>
            </div>
        </div>
    </div>

</body>
<script>


    document.querySelector("#extendDescription").addEventListener("click", () => {
        document.querySelector("#jsonDescription").classList.toggle("extend");

        if(document.querySelector("#jsonDescription").classList.contains("extend")) {
            document.querySelector("#extendDescription span#msgextend").innerHTML = "<i class='bx bxs-chevrons-up' ></i> Reduce description <i class='bx bxs-chevrons-up' ></i>";
        } else {
            document.querySelector("#extendDescription span#msgextend").innerHTML = "<i class='bx bxs-chevrons-down'></i> Extend description <i class='bx bxs-chevrons-down'></i>";
        }
    })




    function setCookie(name, value, days) {
        let expires = "";
        if (days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        const nameEQ = name + "=";
        const cookiesArray = document.cookie.split(';');
        for (let i = 0; i < cookiesArray.length; i++) {
            let cookie = cookiesArray[i].trim();
            if (cookie.indexOf(nameEQ) === 0) {
                return cookie.substring(nameEQ.length, cookie.length);
            }
        }
        return null;
    }

    // console.log("check for lastchapter...");
    // const lastchapter = getCookie(document.querySelector("#frckName").textContent);
    // if (lastchapter != null) {
    //     document.querySelector("#lastchapter #lastChapterShowMSG").innerHTML += lastchapter;
    //     document.querySelector("#lastchapter").href = "/r/" + document.querySelector("#frckName").textContent + "/" + lastchapter;
    // } else{
    //     document.querySelector("#lastchapter").style.display = "none";
    // }

    const popupSearch = document.querySelector('.popupSearch');
    function searchPopup() {
        popupSearch.classList.toggle('active');
    }

    const search = document.querySelector('#search');
    search.addEventListener('input', () => {
        const searchTerm = search.value.toLowerCase();
        const listchapter = document.querySelector('#listchapter');
        const chapters = Array.from(listchapter.querySelectorAll('li')); 

        if (searchTerm === '') {
            document.querySelector('.ccenter .group .close').style.display = 'block';
            document.querySelector('.ccenter .group .result').classList.remove('active');
            document.querySelector('#btnSearch').classList.remove('active');
        } else {
            document.querySelector('.ccenter .group .close').style.display = 'none';
            document.querySelector('.ccenter .group .result').classList.add('active');
            document.querySelector('#btnSearch').classList.add('active');
        }

        chapters.forEach(chapter => {
            const anchor = chapter.closest('a');
            if (chapter.textContent.toLowerCase().includes(searchTerm)) {
                anchor.style.display = ''; 
            } else {
                anchor.style.display = 'none'; 
            }
        });
    });

    const iconreverse = document.querySelector('.iconreverse');
    iconreverse.addEventListener('click', () => {
        iconreverse.classList.toggle('active');

        const listchapter = document.querySelector('#listchapter');
        const chapters = Array.from(listchapter.querySelectorAll('li'));

        chapters.reverse();

        listchapter.innerHTML = '';

        chapters.forEach(chapter => {
            listchapter.appendChild(chapter);
        });
    });

    const jsonPath = `/static/meta/{{name}}/{{name}}.json`; 

    fetch(jsonPath)
        .then(response => {
            console.log("Response status:", response.status);
            if (!response.ok) {
                throw new Error("Erreur lors de la récupération du fichier JSON: " + response.statusText);
            }
            return response.json();
        })
        .then(data => {
            console.log("Données récupérées :", data);
            let nameData = data;
            console.log("Nom du manga :", nameData.title);
            // nameData.alternative_titles.forEach(element => {
            //     console.log("Titre alternatif :", element);
            // });

            // console.log("Image de couverture :", nameData.cover_image_url);
            // document.querySelector('.backgroundimg').style.backgroundImage = 'url("/static/meta/{{name}}/{{name}}.jpg")';
            // document.querySelector('.coverImage').src = '/static/meta/{{name}}/{{name}}.jpg';

            // nameData.genres.forEach(element => {
            //     document.querySelector('#jsonGenres').innerHTML += `<div>${element}</div>`;
            // });


            var converter = new showdown.Converter();
            document.querySelector('#jsonDescription').innerHTML = converter.makeHtml(nameData.description);
        })
        .catch(error => {
            console.error("Il y a eu un problème avec la récupération des données :", error);
        });


</script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</html>