@import 'theme/kslabs_theme';
$background: $background-variant-0;
$background-glass: hsla(234, 14%, 10%, .4);
$background2: $background-variant-1;
$background3: $background-variant-2;
$text: $brand-text;
$primary: $brand-primary;
$primary-transparent: #ff8e4720;
$max-width: 1300px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    &::selection {
        background: $primary;
        color: $text;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $background;
    color: $text;
}

// .headerAbsolute{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 999;
//     margin-bottom: 10px;
// }

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin-bottom: 10px;

    nav {
        max-width: $max-width;
        margin: 0 auto;
        border-radius: 6px;
        padding: 10px;

        a {
            text-decoration: none;
            color: $text;
            font-size: 20px;
        }

        ul {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;

            >div {
                display: flex;
                align-items: center;
                gap: 10px;
                column-gap: 10px;
                -webkit-column-gap: 10px;
            }

            li.logo {
                display: flex;
                align-items: center;
                gap: 10px;
                column-gap: 10px;
                -webkit-column-gap: 10px;

                svg {
                    width: 34px;
                    height: 34px;
                }

                margin-right: auto;
            }

            li.search {
                form {
                    .group {
                        background-color: $background-glass;
                        backdrop-filter: blur(5px);
                        -webkit-backdrop-filter: blur(5px);

                        display: flex;
                        gap: 10px;
                        column-gap: 10px;
                        -webkit-column-gap: 10px;
                        padding: 8px 10px;

                        input,
                        button {
                            background: none;
                            border: none;
                            outline: none;
                            color: $text;
                            font-size: 16px;

                            &::placeholder {
                                color: $text;
                            }
                        }

                        button {
                            cursor: pointer;
                        }

                        input {
                            width: 200px;
                            transition: .2s;

                            &:focus {
                                width: 300px;

                                &~button i {
                                    color: $primary;
                                    animation: 2s fancy-spin forwards;
                                }
                            }
                        }
                    }
                }
            }

            li.param {
                &:hover {
                    color: $primary;
                    cursor: pointer;
                    animation: 2s spin infinite;
                }
            }
        }
    }

    &.active {
        background-color: $background;
        border-bottom: 1px solid $primary;

        nav {
            ul {
                li.search {
                    form {
                        .group {
                            background-color: $background2;
                            backdrop-filter: blur(5px);
                            -webkit-backdrop-filter: blur(5px);
                        }
                    }
                }
            }
        }
    }
}

@keyframes fancy-spin {
    0% {
        transform: rotate(0turn) scale(1);
    }

    25% {
        transform: rotate(1turn) scale(1);
    }

    50% {
        transform: rotate(1turn) scale(1.5);
    }

    75% {
        transform: rotate(1turn) scale(1);
    }

    100% {
        transform: rotate(1turn) scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn)
    }
}

.popupAction {
    display: none;

    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 12px;
    background: $background2;
    width: 250px;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .group {
            display: flex;
            gap: 5px;

            >a {
                flex: 1;
            }

            >button {
                flex: 1;
            }

            &.nav {
                >a {
                    flex: unset;
                    width: 40px;

                    &.number {
                        flex: 1;
                    }
                }
            }
        }

        button {
            width: 100%;
            background: $background3;
            border: none;
            color: $text;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;

            &:hover {
                background: darken($background3, 10%);
            }
        }
    }
}

.popupShow {
    position: fixed;
    bottom: 10px;
    right: 10px;

    a {
        text-decoration: none;
    }

    button {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background: $background3;
        border: none;
        color: $text;
        font-size: 20px;
        cursor: pointer;

        &:hover {
            background: darken($background3, 6%);
        }
    }
}

.read_title {
    text-align: center;
    margin: 10px 0;

    a {
        text-decoration: none;
        color: $primary;

        &:hover {
            color: darken($primary, 15%);
        }
    }
}

#chapter {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;

    max-width: 600px;
    margin: 0 auto;

    img {
        display: block;
        width: 100%;
    }

    &.manga {
        max-width: unset;
        margin: unset;
        display: unset;
        text-align: center;

        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 100vh;
            max-width: 90vw;
            object-fit: cover;
        }
    }
}

#scrollLevel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $background2;
    transition: .2s;

    &:hover {
        height: 10px;
    }

    #scrollBar {
        width: 0%;
        height: 100%;
        background: $primary;
        transition: .5s;
    }
}

.mangaNext {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(255, 0, 0, 0.13);
    display: flex;
    cursor: pointer;

    .left {
        flex: 1;
        // background-color: rgba(0, 0, 255, 0.158);
    }

    .right {
        flex: 1;
    }
}


main {
    max-width: $max-width;
    margin: 0 auto;

    section {
        margin: 20px 0;
    }

}

@media screen and (max-width: $max-width) {
    main.spacearound {
        margin: 0 20px;
    }
}

.listchapter-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    button {
        font-size: 20px;
        background: none;
        border: none;
        outline: none;
        color: $text;
        cursor: pointer;

        &:hover {
            color: $primary;
        }
    }
}

.listchapter {
    h2 {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        align-items: center;
        gap: 10px;

        span {
            font-size: 20px;

            &:nth-child(1) {
                flex: 1;
            }

            &.iconreverse {
                cursor: pointer;
                padding: 7px;
                border-radius: 10px;
                background-color: $background2;

                &:hover {
                    background-color: $background3;

                    i {
                        animation: .5s reverse180 forwards;
                    }
                }

                &.active {
                    color: $primary;
                }
            }

            &.search {

                cursor: pointer;
                padding: 7px;
                border-radius: 10px;
                background-color: $background2;

                &:hover {
                    background-color: $background3;

                    i {
                        animation: .8s boingboing infinite;
                    }
                }

                &.active {
                    color: $primary;
                }
            }
        }
    }

    #listchapter {

        display: grid;
        // grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px 10px;

        a {
            text-decoration: none;
            color: $text;

            // &:visited {
            //     color: $primary;
            // }

            &:hover {
                li {
                    background-color: $background3;
                }
            }
        }

        li {
            list-style: none;
            background-color: $background2;
            padding: 6px 12px;
            border-radius: 10px;
            font-size: 20px;
            height: 100%;

            &.read {
                color: $primary;
            }

            &.readprogress {
                color: $primary;
                border: 1px solid $primary;
            }
        }
    }


}

@keyframes reverse180 {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(192deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes boingboing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.popupSearch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    display: none;
    align-items: center;
    justify-content: center;

    .bck {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: $background-glass;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .ccenter {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;

        display: flex;
        flex-direction: column;
        width: 80vw;
        gap: 10px;

        h2 {
            font-size: 3em;
        }

        .group {
            display: flex;
            flex-direction: row;
            gap: 10px;

            input {
                flex: 1;
            }
        }

        input {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: none;
            border: 1px solid $primary;
            color: $text;
            background: none;
            outline: none;
            display: block;
            font-size: 18px;
            transition: .5s;
        }

        button {
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: none;
            outline: none;
            display: block;
            font-size: 18px;
            background-color: $background3;
            color: $text;

            cursor: not-allowed;

            &.result.active {
                background-color: $primary;
                color: $text;
                cursor: pointer;

                &:hover {
                    background-color: darken($primary, 10%);
                }
            }

            &.close {
                cursor: pointer;
                background-color: $primary;

                &:hover {
                    background-color: darken($primary, 10%);
                }
            }
        }
    }

    &.active {
        display: block;
        animation: 1s spawnFromTop forwards;
    }
}

@keyframes spawnFromTop {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

.golastchapter {
    a {
        text-decoration: none;

        button {
            display: flex;
            margin-top: 12px;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            border: none;
            outline: none;
            display: block;
            font-size: 18px;
            background-color: darken($primary, 10%);
            color: $text;
            cursor: pointer;
            border-radius: 10px;

            span {
                &:nth-child(2) {
                    display: none;
                }
            }

            &:hover {
                background-color: darken($primary, 16%);

                span {
                    &:nth-child(1) {
                        display: none;
                    }

                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
    }
}

.backgroundimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;

    z-index: -1;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $background-glass;
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        background: linear-gradient(to top, $background, $background-glass);
    }
}

@media screen and (max-width: 700px) {
    .backgroundimg {
        height: 100vh;
    }
}

.full-coverImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;

    background-color: $background-glass;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    &:hover {
        cursor: zoom-out;
    }

    >i {
        position: fixed;
        top: 30px;
        right: 30px;
        font-size: 3em;

        &:hover {
            cursor: pointer;

            color: $primary;
        }
    }

    .coverImage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: 90vh;
        max-width: 90vw;
    }
}

.view-info {
    display: flex;
    gap: 20px;

    .left {
        width: 300px;

        .wrap-coverImage {
            position: relative;

            .coverImage {
                width: 100%;
                border-radius: 16px;
                transition: .4s;

                &:hover {
                    transform: scale(1.05);
                    border-radius: 6px;

                    cursor: zoom-in;
                }
            }
        }
    }

    .right {
        flex: 1;

        h2 {
            margin-bottom: 10px;
            font-size: 2.3em;
            cursor: default;

            .source {
                font-size: 12px;
                color: $primary;
            }
        }

        #jsonDescription {
            font-size: 14px;

            a {
                color: $primary;
            }

            hr {
                display: none;
            }

            overflow: hidden;
        }

        #jsonGenres {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            gap: 10px;
            margin: 10px 0;
            font-size: 12px;
            cursor: default;

            >div {
                background-color: $background2;
                text-align: center;
                padding: 4px 6px;
                border-radius: 6px;
            }
        }

        #extendDescription {
            display: none;

            span {
                padding: 10px 0;
                display: flex;
                align-items: center;
                gap: 10px;
                justify-content: center;
            }
        }
    }
}

@media screen and (max-width:900px) {
    .view-info {
        .left {
            width: 200px;
        }

        .right {
            h2 {
                font-size: 1.7em;
            }

            #extendDescription {
                display: block;
                position: relative;

                hr {
                    border: 1px solid $primary;
                }

                text-align: center;

                cursor: pointer;
                color: $primary;
            }

            #jsonDescription {
                max-height: 119px;

                &.extend {
                    max-height: unset !important;
                }
            }
        }
    }
}

@media screen and (max-width:700px) {
    .view-info {
        flex-direction: column;
        gap: 10px;

        .left {
            justify-content: center;
            width: unset;
            text-align: center;

            .coverImage {
                width: unset;
                max-width: 400px;
                // max-height: 400px;
                border-radius: 16px;
                transition: .4s;

                &:hover {
                    transform: scale(1.05);
                    border-radius: 6px;
                }
            }
        }

        .right {
            display: block;

            #jsonDescription {
                max-height: 100px;

                &.extend {
                    max-height: unset !important;
                }
            }
        }
    }
}

@media screen and (max-width: 440px) {
    .view-info {
        .left {
            .coverImage {
                max-width: 100%;
            }
        }
    }
}

.popupnote {
    background-color: $primary-transparent;
    border: 1px solid $primary;
    padding: 10px;
    color: $text;
}

#splideindexheader {
    position: relative;
    // overflow: hidden;

    .splide__arrow {
        border: unset;
        background: $background-glass;
        border-radius: unset;

        svg {
            fill: $text;
        }

        &:hover {
            background: $background;

            svg {
                fill: $text;
            }
        }
    }

    .splide__slide {
        width: 100%;
        height: 60vh;

        .img {
            height: 100%;
            // background-color: red;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            .bck {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $background-glass;
                background: linear-gradient(to bottom, $background-glass 0%, #ffffff00 50%, $background);
            }
        }

        .container {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            .info {
                z-index: 3;
                display: flex;
                align-items: flex-end;
                gap: 30px;
                column-gap: 30px;
                -webkit-column-gap: 30px;

                max-width: $max-width;
                margin: 30px auto;

                .left {
                    width: 250px;

                    img {
                        width: 100%;
                    }

                    .btngroup {
                        display: none;
                    }
                }

                .right {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    column-gap: 10px;
                    -webkit-column-gap: 10px;

                    h2 {
                        font-size: 2.4em;

                        display: flex;
                        align-items: center;
                        gap: 10px;
                        column-gap: 10px;
                        -webkit-column-gap: 10px;

                        display: -webkit-box;
                        line-clamp: 2;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }

                    #jsonGenres {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        column-gap: 10px;
                        -webkit-column-gap: 10px;

                        >div {
                            background-color: $background;
                            padding: 6px 12px;
                            border-radius: 12px;
                        }
                    }

                    .description {
                        display: -webkit-box;
                        line-clamp: 4;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 4;
                        overflow: hidden;
                    }

                    .btngroup {
                        display: flex;
                        gap: 10px;
                        column-gap: 10px;
                        -webkit-column-gap: 10px;

                        button {
                            padding: 6px 12px;
                            font-size: 18px;
                            background-color: $background;
                            border: none;
                            outline: none;
                            border-radius: 10px;
                            color: $text;
                            cursor: pointer;
                            border: 1px solid transparent;

                            &.continue {
                                background-color: $primary;
                                color: $text;
                            }

                            &:hover {
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $max-width) {
    #splideindexheader {
        .splide__slide {
            .img {
                .bck {
                    background: linear-gradient(to top, $background, $background-glass);
                }
            }

            .container {
                .info {
                    margin: 30px 20px !important;
                    align-items: unset;

                    flex-direction: row-reverse;

                    .left {
                        width: 200px;
                    }

                    .right {
                        h2 {
                            font-size: 1.6em;

                            span {
                                &:nth-child(1) {
                                    display: none;
                                }
                            }

                            display: -webkit-box;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 2;
                            overflow: hidden;
                        }

                        .description {
                            font-size: 14px;
                            max-height: 100px;
                            overflow: hidden;
                        }

                        #jsonGenres {
                            font-size: 12px;
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 700px) {
    #splideindexheader {
        .splide__slide {
            .img {
                .bck {
                    background: linear-gradient(to top, $background, $background-glass);
                }
            }

            .container {
                .info {
                    gap: 10px;
                    column-gap: 10px;
                    -webkit-column-gap: 10px;
                    align-items: flex-start;
                    
                    .right {
                        .btngroup {
                            flex-direction: column;
                            button{
                                width: 100%;
                            }
                        }
                    }

                    .left {

                        img{
                            border-radius: 16px;
                        }

                        .btngroup {
                            display: none;
                            // display: flex;
                            flex-direction: column;
                            gap: 10px;
                            column-gap: 10px;
                            -webkit-column-gap: 10px;
                            margin-top: 10px;

                            button {
                                padding: 6px 12px;
                                font-size: 18px;
                                background-color: $background;
                                border: none;
                                outline: none;
                                border-radius: 10px;
                                color: $text;
                                cursor: pointer;
                                border: 1px solid transparent;
                                width: 100%;

                                &.continue {
                                    background-color: $primary;
                                    color: $text;
                                }

                                &:hover {
                                    opacity: .8;
                                }
                            }
                        }
                    }

                    .left, .right{
                        flex: 1;
                    }

                }
            }
        }
    }
}